
*{ padding: 1% 5%;
    margin: 4px;
    box-sizing: border-box;
    font-size: large;

}
body{
  
    direction: rtl;

    margin: 0;
    padding: 0;

    line-height: 1.6;
    font-size: x-large;
    background-image: url('img-computer.jpg');
    /* background-repeat: no-repeat; */
    background-repeat: no-repeat;
  background-size: 30% 30%;
 
}
#text2{


text-align: center;
border-style: double;
border-width: thick;
border-radius: 12px;
display: block;
position: relative;


}
#text2::after{
    content: "";
    background-image: url('image.jpg');
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
	

}
